/* 

===== COLORS =====

*/

$main_bg_color: #447692;
$sub_main_bg_color:#33586E;
$sub_main_bg_color-hover:#32566B;
// $project-hover:#d1e6f2;
$project-active:#489CDC;
$progress_bar_inner:#BEDCE9;
$progress_bar:#E4E8EB;
$disabled_primary_btn:#96C1E2;
$project_border:#F1F1F1;
// $secondary_main_bg: #F8FDFF;
$secondary_main_bg: #ffffff;
$task_complete: #e0e0e0;
$comment_bg: #D6DEE2;
$comment_bg_hover: #d6dee299;
$call_to_action_thumbnail_bg: #E8CCA2;
$notes_bg: #FFF9DA;
$user_name_color: #5F77C7;
$comment_message_user: #E6F8EE;
$delete: #f29191;
$task_global_bg: #E58A8A;
$tab_active_in_comment_nav: #DDE9FF;
$chat_file_thumbnail: #6cb2ce;
$other_action_delete_message_cancel_btn: #8390D6;
$secondaty_pink: #FF9D9D;
$secondaty_pink_smooth: #FFBDBD;

/* gray */

$search_input_placeholder: #C0BCBC;
$project-hover:#E3E1E1;
$main_color: #1F1F20;
$right_sidebar_main_color: #a5a7a8;
$notes_line: #D0C8C8;
$notes_placeholder: #ADABAB;
$unread_msg_bg: #BFBFBF;
$last_message_body: #8C8A8A;
$add_message_border: #E1E1E1;
$task_creater: #747474;
$hover_background_cancel_btn: #EDEDED;
$chat_file_thumbnail_loading: #7D7D7D;
$file_thumbnail_border: #E8E3E3;
$chat_file_size: #9A9696;
$other_action_color: #6C6666;
$other_action_delete_border: #EFEFEF;
$activity_log_item_title: #565656;
$activity_log_item_hover: #F4F4F4;
$activity_log_back_btn: #EDEDED;
$activity_log_switcher_background: #F0EFEF;
$activity_log_switcher_color: #636363;
$unassigned_item: #D0D0D0;


/* 

===== SIZES =====

*/

$max_width_img_in_chat: 200px;